{% extends 'base.html.twig' %}
{% block body %}
<section class="container">
  <div class="topspace"></div>

<div class="terms">
<h1>Site terms of use and agreements</h1>
<h2>Welcome</h2>
<h3>General conditions and agreements for the use of this site</h3>
<p><b>[Dummy placeholder text]</b>Put a bird on it artisan mumblecore shaman brooklyn chicharrones authentic
craft beer. Beard jianbing single-origin coffee tumblr freegan
aesthetic normcore poke kale chips chartreuse swag intelligentsia
raclette venmo. Yuccie fam 90's ethical godard put a bird on it coloring book
next level poutine hexagon enamel pin tilde. Viral portland raclette
 flexitarian waistcoat craft beer blog unicorn gastropub street art tumeric
 banh mi wayfarers. Freegan skateboard plaid neutra,
 migas pickled single-origin coffee asymmetrical.
 Glossier meh air plant distillery.</p>
 </div>
 </section>
 <div class="bottomspace"></div>
 {% endblock %}
